@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    var(--font-inria-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
  --font-serif: var(--font-inter);
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.9816 0.0017 247.839);
  --foreground: oklch(0.2101 0.0318 264.6645);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2101 0.0318 264.6645);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2101 0.0318 264.6645);
  --primary: oklch(0.4399 0.137 253.3117);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.551 0.0234 264.3637);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.9276 0.0058 264.5313);
  --muted-foreground: oklch(0.4461 0.0263 256.8018);
  --accent: oklch(0.7686 0.1647 70.0804);
  --accent-foreground: oklch(0.2101 0.0318 264.6645);
  --destructive: oklch(0.5771 0.2152 27.325);
  --border: oklch(0.8717 0.0093 258.3382);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.4399 0.137 253.3117);
  --chart-1: oklch(0.4399 0.137 253.3117);
  --chart-2: oklch(0.7686 0.1647 70.0804);
  --chart-3: oklch(0.6959 0.1491 162.4796);
  --chart-4: oklch(0.551 0.0234 264.3637);
  --chart-5: oklch(0.6368 0.2078 25.3313);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2101 0.0318 264.6645);
  --sidebar-primary: oklch(0.4399 0.137 253.3117);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.967 0.0029 264.5419);
  --sidebar-accent-foreground: oklch(0.2101 0.0318 264.6645);
  --sidebar-border: oklch(0.8717 0.0093 258.3382);
  --sidebar-ring: oklch(0.4399 0.137 253.3117);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
  --shadow-color: #000000;
  --shadow-opacity: 0.08;
  --shadow-blur: 16px;
  --shadow-spread: -4px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: normal;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 4px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-sm:
    0px 4px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow:
    0px 4px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow-md:
    0px 4px 16px -4px hsl(0 0% 0% / 0.08), 0px 2px 4px -5px hsl(0 0% 0% / 0.08);
  --shadow-lg:
    0px 4px 16px -4px hsl(0 0% 0% / 0.08), 0px 4px 6px -5px hsl(0 0% 0% / 0.08);
  --shadow-xl:
    0px 4px 16px -4px hsl(0 0% 0% / 0.08), 0px 8px 10px -5px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 4px 16px -4px hsl(0 0% 0% / 0.2);
  --tracking-normal: normal;
  --purple-nood: #8a38f5;
  --yelloo-nood: #ffd000;
  --chat-bg: #98b3f9;
}

.dark {
  --background: oklch(0.2101 0.0318 264.6645);
  --foreground: oklch(0.9846 0.0017 247.8389);
  --card: oklch(0.2781 0.0296 256.848);
  --card-foreground: oklch(0.9846 0.0017 247.8389);
  --popover: oklch(0.2781 0.0296 256.848);
  --popover-foreground: oklch(0.9846 0.0017 247.8389);
  --primary: oklch(0.6231 0.188 259.8145);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.4461 0.0263 256.8018);
  --secondary-foreground: oklch(0.9846 0.0017 247.8389);
  --muted: oklch(0.3729 0.0306 259.7328);
  --muted-foreground: oklch(0.7137 0.0192 261.3246);
  --accent: oklch(0.8369 0.1644 84.4286);
  --accent-foreground: oklch(0.2101 0.0318 264.6645);
  --destructive: oklch(0.7106 0.1661 22.2162);
  --border: oklch(0.3729 0.0306 259.7328);
  --input: oklch(0.3729 0.0306 259.7328);
  --ring: oklch(0.6231 0.188 259.8145);
  --chart-1: oklch(0.6231 0.188 259.8145);
  --chart-2: oklch(0.8369 0.1644 84.4286);
  --chart-3: oklch(0.7729 0.1535 163.2231);
  --chart-4: oklch(0.551 0.0234 264.3637);
  --chart-5: oklch(0.7106 0.1661 22.2162);
  --sidebar: oklch(0.2781 0.0296 256.848);
  --sidebar-foreground: oklch(0.9846 0.0017 247.8389);
  --sidebar-primary: oklch(0.6231 0.188 259.8145);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.3729 0.0306 259.7328);
  --sidebar-accent-foreground: oklch(0.9846 0.0017 247.8389);
  --sidebar-border: oklch(0.3729 0.0306 259.7328);
  --sidebar-ring: oklch(0.6231 0.188 259.8145);
  --destructive-foreground: oklch(0.2101 0.0318 264.6645);
  --radius: 0.5rem;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
  --shadow-color: #000000;
  --shadow-opacity: 0.2;
  --shadow-blur: 16px;
  --shadow-spread: -4px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: normal;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 16px -4px hsl(0 0% 0% / 0.1);
  --shadow-xs: 0px 4px 16px -4px hsl(0 0% 0% / 0.1);
  --shadow-sm:
    0px 4px 16px -4px hsl(0 0% 0% / 0.2), 0px 1px 2px -5px hsl(0 0% 0% / 0.2);
  --shadow:
    0px 4px 16px -4px hsl(0 0% 0% / 0.2), 0px 1px 2px -5px hsl(0 0% 0% / 0.2);
  --shadow-md:
    0px 4px 16px -4px hsl(0 0% 0% / 0.2), 0px 2px 4px -5px hsl(0 0% 0% / 0.2);
  --shadow-lg:
    0px 4px 16px -4px hsl(0 0% 0% / 0.2), 0px 4px 6px -5px hsl(0 0% 0% / 0.2);
  --shadow-xl:
    0px 4px 16px -4px hsl(0 0% 0% / 0.2), 0px 8px 10px -5px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0px 4px 16px -4px hsl(0 0% 0% / 0.5);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
    letter-spacing: var(--tracking-normal);
  }
  button:hover {
    cursor: pointer;
  }
}
